<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel='stylesheet' href='/bower_components/fontawesome/css/font-awesome.min.css' />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/hugo.css' />
  {{{_sections.head}}}
</head>

<body>
  <div id="main-main">
  {{{body}}}
  </div>

  <div class="home">
    <a href="/"><i class="fa fa-home"></i></a>
  </div>
  
  <div id="datetime" data-bind="with: dateTimeViewModel">
    <span class="time" data-bind="text: time"></span>
    <span class="seconds" data-bind="text: seconds"></span>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/knockout/dist/knockout.js"></script>
  <script src="/bower_components/knockout-mapping/build/output/knockout.mapping-latest.js"></script>
  <script src="/client.js"></script>
  <script>
    {{#if fetched}}
    hugo.setupDataBinding('{{{name}}}', {{{json fetched}}}, {{{updateInterval}}});
    {{/if}}
  </script>
  {{{_sections.scripts}}}
</body>

</html>